<!-- header -->
    <div class="header">
            <div class="container">
                <div class="header-nav">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a class="navbar-brand" href="/"><i class="glyphicon glyphicon-education" aria-hidden="true"></i><span>SAINATH</span> College of Education</a></h1>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="hvr-overline-from-center button2 active" href="/">Home</a></li>
                                <li><a class="hvr-overline-from-center button2 active" href="/about">About</a></li>
                                <li><a class="hvr-overline-from-center button2 active" href="/admissions">Admissions</a></li>
                                <li><a class="hvr-overline-from-center button2 active" href="/courses">Courses</a></li>
                                <li><a class="hvr-overline-from-center button2 active" href="/staff">Staff</a></li>
                                <li><a class="hvr-overline-from-center button2 active" href="/contact">Contact</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                        
                        <!-- search-scripts -->
                        <script src="{echo CDN}js/classie.js"></script>
                        <script src="{echo CDN}js/uisearch.js"></script>
                            <script>
                                new UISearch( document.getElementById( 'sb-search' ) );
                            </script>
                        <!-- //search-scripts -->
                    </nav>
                </div>
            </div>
    </div>
    <!-- header -->