<!-- features -->
<div class="features">
	<div class="container">
		<h3 class="tittle" style="color:blue;">About Us</h3> 
		<div class="col-lg-8 col-md-8 features-right">
			<p style="font-size: 17px;">
				Sainath College of Education is recognized  by NCTE (saturatory body HRD Ministry), Govt. of India and affiliated to SCERT (NCT of Delhi). The Institute is located in eco-friendly environment with equally lively and friendly interiors to provide perfect ambience for the students to realize their full potential.
			</p>
			<br><br>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //features -->
