<!-- features -->
<div class="features">
	<div class="container">
		<h3 class="tittle" style="color:black;">ADMISSION OPEN FOR SESSION 2017-19</h3> 
		
		<div class="clearfix"></div>

		<p class="text-center">
			<blockquote>Visit: <a target="_blank" href="http://www.scertdelhiadmission.org/Login/Default.aspx#">http://www.scertdelhiadmission.org/Login/Default.aspx</a></blockquote>
		</p>
	</div>
</div>
<!-- //features -->
