<!-- contact-page -->
<div class="contact">
	<div class="container">
		<div class="contact-page">
			<div class="contact-info">
				<h2 class="tittle" style="color: blue;">Contact</h2>
			</div>
			<div class="contact-form">
				<div class="row">
					<blockquote>
	                    <p class="sed-para">Address: </p>
	                    <h4>Plot No. 215, Outer Phirni Road, Mungesh Pur, Delhi-39</h4><br>
	                    <h4>Contact: +91-9811755289, 011-65155289</h4><br>
	                    <h4>Email: <a href="mailto:{echo $mailto}">{echo $mailto}</a></h4>
	                </blockquote>
				</div>
				<div class="row">
					<h3 class="tittle" style="color: orange;">Query?</h3>
					<form action="" method="post">
						{if (isset($errors["sent"]))}<span class="help-block" style="color: green;">{echo $errors["sent"]}</span>{/if}
							<input type="text" name="name" placeholder="Name" required="">
							{if (isset($errors["name"]))}<span class="help-block" style="color: red;">{echo $errors["name"]}</span>{/if}

							<input type="text" name="email" placeholder="Email" required="">
							{if (isset($errors["email"]))}<span class="help-block" style="color: red;">{echo $errors["email"]}</span>{/if}

							<input type="text" name="phone" placeholder="Telephone" required="">
							{if (isset($errors["phone"]))}<span class="help-block" style="color: red;">{echo $errors["phone"]}</span>{/if}

							<textarea name="message" required="" placeholder="Message"></textarea>
							{if (isset($errors["message"]))}<span class="help-block" style="color: red;">{echo $errors["message"]}</span>{/if}

							<input type="hidden" name="action" value="query">
							<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //contact-page -->
