
<!-- features -->
<div class="features">
	<div class="container">
		<h3 class="tittle" style="color:black;">Courses</h3>
		<h4 class="text-center">
			- Two years diploma course in D.EL.Ed
		</h4>
		
		<div class="clearfix"></div>
	</div>
</div>
<!-- //features -->
