<div class="features">
	<div class="container">
		<h3 class="tittle" style="color:blue;">Welcome To Sainath College of Education</h3> 
		<div class="col-lg-8 col-md-8 features-right">
			<h4>About the Institute</h4>
			<p>
				Sainath College of Education is recognized by NCTE (saturatory body HRD Ministry), Govt. of India and affiliated to SCERT (NCT of Delhi). The Institute is located in eco-friendly environment with equally lively and friendly interiors to provide perfect ambience for the students to realize their full potential.
			</p>
			<h4>Ambience</h4>
			<p>
				Sainath College of Education  is located in a calm and serene environment accessible by DTC buses and other means of transport. The Institute has a very spacious and modern building. The chance of serving the people by running an education Institute for Teacher Training courses is a new venture. This Institute is composed of a team of educationists working in the field of education. All efforts have been made to bring about a balanced and harmonious development for the future citizens of the country and inculcate in them high sense of patriotism. The basic objective of the society is to provide education opportunities to the masses which is more creative and innovative in their thinking.
			</p>
		</div>
		<div class="col-lg-4 col-md-4" id="timeline">
			<h4 class="text-info">News &amp; Updates</h4><br>
			<blockquote>
				<p>- List of Selected Candidates Merit Wise.. <a href="{echo CDN}images/ssnes_selected_list.pdf">Click Here</a>
				<img src="{echo CDN}images/photos/selected_candidates.jpg" class="img-responsive" alt="Content Image"></p>
			</blockquote>
			<blockquote>
				<p>- List of Mgmt Quota Candidates Merit Wise.. <a href="{echo CDN}images/merit_list.pdf">Click Here</a>
				<img src="{echo CDN}images/photos/merit_list_candidates.jpg" class="img-responsive" alt="Content Image"></p>
				<h5>Published: Nov 14, 2017</h5>
			</blockquote>
			<blockquote>
				<p>- List of Candidates applied for D.EL.ED Course Session 2017-19. <a href="{echo CDN}images/application_list.pdf">Click Here</a></p>
				<img src="{echo CDN}images/photos/candidates_applied.jpg" class="img-responsive" alt="Content Image">
				<h5>Published: Nov 12, 2017</h5>
			</blockquote>
			<blockquote>
				<p>- Management Seats in D.EL. ED Course 2017-19. <a href="{echo CDN}images/quota2.pdf">Click Here</a></p>
				<img src="{echo CDN}images/snipimage.jpg" class="img-responsive" alt="Content Image">
				<h5>Published: Oct 25, 2017</h5>
			</blockquote>
			<!-- <blockquote>
				<p>List of selected candidates on 23.09.16 <a href="{echo CDN}docs/list_23.pdf">Click Here</a></p>
				<h5>Published: Sep 23, 2016</h5>
			</blockquote>
			<blockquote>
				<p>List of applied/eligible candidates Merit wise on 22.09.16 <a href="{echo CDN}docs/list_22.pdf">Click Here</a></p>
				<h5>Published: Sep 22, 2016</h5>
			</blockquote>
			<blockquote>
				<p>List of Candidates applied under management quota for D.EL.ED Course Session 2016-18 <a href="{echo CDN}docs/list_21.pdf">Click Here</a></p>
				<h5>Published: Sep 21, 2016</h5>
			</blockquote> -->
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //features