<!-- features -->
<div class="features">
	<div class="container">
		{if (false)}
		<h2 style="color:black;">Staff</h2>
		<div class="text-center">

			<img src="{echo CDN}images/staff1.png">
			<img src="{echo CDN}images/staff2.png">
			<img src="{echo CDN}images/staff3.png">	
			</div>	


		<div class="text-center">
		<h2  style="color:black;">Teachers</h2>
			<img src="{echo CDN}images/teach1.png">
			<img src="{echo CDN}images/teach2.png">
			<img src="{echo CDN}images/teach3.png">	
			</div>	
		{/if} {else}
		<h2 style="color:black;" class="text-center">Under Construction !!</h2>
		{/else}
		<div class="clearfix"></div>
	</div>
</div>
<!-- //features -->
